* {
    box-sizing: border-box;
}
body, html {
    display: flex;
    height: 100%;
    width: 100%;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
h1, h2 {
    color: #07394C;
    margin-top: 0;
    font-size: 40px;
    font-variant: small-caps;
}
h2 {
    margin: 5px 0;
    font-size: 25px;
}
.left-info {
    width: 35%;
    height: 100%;
    background-image: url('../img/clouds.jpg');
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 15px;
    border-right: 5px solid #07394C;
}
.mapycz {
    width: 65%;
    height: 100%;
}
.start-container {
    margin-bottom: 10px;
}
.buttons {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.delete-button, .location-button {
    margin: 10px;
    padding: 15px;
    font-size: 15px;
    color: white;
    background-color: #07394C;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}
.delete-button:hover, .location-button:hover {
    background-color: #696969;
    transition: background-color 200ms linear;
}
.markers-area {
    display: flex;
    justify-content: center;
}
.wrapper-destination1, .wrapper-destination2 {
    height: 100%; 
    background-color: #8CA4C3;
    width: 100%;
    margin: 10px;
    text-align: center;
    word-wrap: break-word;
    border-radius: 15px;
}
.weather-place, .weather-temperature, .error, .date-time {
    margin: 10px;
}
.gmt-offset {
    margin-bottom: 10px;
}
.weather-temperature {
    margin-bottom: 0;
}
.date-time {
    margin-top: 0;
    font-weight: bold;
}
.weather-icon {
    width: 100px;
}
.weather-destination1, .weather-destination2 {
    line-height: 20px;
}
.results {
    background-color: #8CA4C3;
    margin: 10px;
    padding: 10px 5px;
    /* border: 3px solid #07394C; */
    border-radius: 15px;
}
.spinner {
    border-radius: 100%;
    margin: 20px auto;
    width: 50px;
    height: 50px; 
    border-left: 10px solid #07394C;
    border-right: 10px solid #07394C;
    border-top: 10px solid #8CA4C3;
    border-bottom: 10px solid #8CA4C3; 
    animation: spinning 1s linear infinite;
  }
  @keyframes spinning {
    from { 
      transform: rotate(0deg); 
    }
      to { 
        transform: rotate(360deg); 
    }
  }
.svg-calLoader {
    width: 200px;
    height: 200px;
    margin-top: 200px;
    animation: 2s linear infinite loader-spin;
}
.cal-loader__path {
    animation: 2s infinite loader-path;
}
@keyframes loader-spin {
    to{
        transform: rotate(360deg);
   }
}
@keyframes loader-path {
    0%{
        stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
   }
    50%{
        stroke-dasharray: 0, 450, 10, 30, 10, 30, 10, 30, 10;
   }
    100%{
        stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
   }
}
