h1 {
    color: cadetblue;
    text-align: center;
}

h2 {
    border-bottom: 1px solid black;
}

.section {
    border: 1px solid black;
}

.section div:nth-child(odd) {
    background-color: rgb(240, 240, 240);
}

.new-section h2 {
    border-bottom: none;
    border-style: dotted;
}