body{
    background-color: rgb(165, 157, 143);
    color: black;
    text-shadow: 5px 5px 3px darkslategray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#weatherContainer {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 5px black;
    padding: 100px;
    margin-top:50px;
    border-radius: 10px;
    position: absolute;
}

#weatherContainer h1 {
    margin: 5px;
    font-size: 42px;
}

#searchContainer {
    display: flex;
    justify-content: center;
    padding: 15px;
    position: relative;
    top: 25;
}

#searchContainer input {
    width: 200px;
}

#searchContainer button {
    background-color: rgb(211, 176, 20);
    width: 75px;
    font-size: 15px;
}

.searchControl {
    box-shadow: 2px 2px 5px black;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

#weatherMain {
    display: block;
    margin-bottom: 20px;
}
#weatherMain div {
    display: inline-block;
}

#weatherDescriptionHeader{
    font-size: 20px;
    vertical-align: 50%;
}

#temperature {
    font-size: 30px;
    vertical-align: 25%;
}

.bottom-details {
    display: block;
    font-size: 20px;
    text-align: right;
}

hr{
    margin-bottom: 20px;
}