<!-- begin:: Footer -->
<div class="kt-footer  kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-footer__copyright">
            {date("Y")}&nbsp;&copy;&nbsp;<a href="http://podnik.net" target="_blank" class="kt-link">Podnik.Net</a>
        </div>
        <div class="kt-footer__menu">
            <a href="http://podnik.net" target="_blank" class="kt-footer__menu-link kt-link">O nás</a>
            <a href="http://podnik.net" target="_blank" class="kt-footer__menu-link kt-link">Tým</a>
            <a href="http://podnik.net" target="_blank" class="kt-footer__menu-link kt-link">Kontakt</a>
        </div>
    </div>
</div>
<!-- end:: Footer -->