body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 500px; 
  margin: 10px auto 0px auto;
  padding: 10px;
  background: rgb(243, 236, 236);
  border-radius: 5px;
}

input, textarea {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid rgb(228, 173, 173);
  border-radius:5px;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 10px;
}

textarea {
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  display: block;
  margin: 0 auto;
  background: rgb(182, 56, 56);
  padding: 7px;
  font-size: 16px;
  border: 1px solid rgb(182, 56, 56);
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

h1 {
  text-align: center;
}

#output {
  margin: 10px 10px 0px 10px;
  text-align: center;
  padding: 5px;
  background: white;
  border: 1px solid rgb(68, 165, 68);
  border-radius: 5px;
  min-height: 20px;
}
