.container-header {
    margin-left: 5%;
}

input {
    width: 80%;
    margin: 0 0.3em 0.3em 0;
    padding: 0.35em 1.2em;
    border: none;   
}

button {
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    background-color: #7F99E9;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;

}


