body {
    color: black;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    font-size: 16px;
    line-height: 1.6em;
    font-weight: 300;
    text-shadow: none;
    display: grid;
    font-family: sans-serif;
}

h3 {
    color: lightgray;
    font-family: fantasy;
    font-size: 20px;
}

.abstract {
    font-size: 25px;
    font-family: fantasy;
    font-style: normal;
    color: lightgray;
    text-align: center;
}

.body {
    width: 100%;
    min-height: 100vh;
    grid-template-columns: 10% 40% 10% 30% auto;
    grid-template-rows: 10% 35% 40% auto 4%;
    grid-template-areas: "header header header header header" ". . . . ." ". convertor . favorites ." ". . . . ." "footer footer footer footer footer";
    font-family: 'Lato', sans-serif
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.header {
    grid-area: header;
    width: 100%;
    height: 100%;
    text-align: left;
    display: block;
}

.convertor {
    grid-area: convertor;
    width: 100%;
    height: 130%;
    display: grid;
    box-align: center;
    border-radius: 5px;
    box-shadow: #af9999b8 0px 0px 15px 1px;
    grid-template-columns: 10% 30% 30% auto;
    grid-template-rows: 10% 20% 20% 20%;
    grid-column-gap: 5%;
    grid-row-gap: 5%;
    grid-template-areas: "headerc headerc headerc headerc" ". rowa rowa ." ". rowb rowb ." "footerc footerc footerc footerc";
}

.favorites {
    grid-area: favorites;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: #af9999b8 0px 0px 15px 1px;
    display: grid;
    grid-template: auto auto atuo;
    grid-template-columns: 30% 35% auto;
    grid-template-rows: 10% 30% 25%;
    grid-column-gap: 5%;
    grid-row-gap: 5%;
    grid-template-areas: "headerc1 headerc headerc3" ". table ." "addselect1 addselect update";
}

.favorite-update {
    grid-area: headerc3;
}

.favorite-update button, .favorite-select, .favorite-currency-add button {
    box-shadow: inset 0px 1px 3px 0px #ffffff;
    height: 40px;
    background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color: #dcdcdc;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: rgb(0, 34, 114);
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 30px;
    text-decoration: none;
    text-shadow: 0px 0px 10px #ffffff;
}

.favorite-update button:hover {
    background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    background-color: #dfdfdf;
}

.favorite-update button:active {
    position: relative;
    top: 1px;
}

.favorite-currency-add {
    grid-area: addselect1;
    /* padding: 30px; */
    padding-left: 20px;
    margin-top: 8%;
}

.convertor-footer {
    grid-area: footerc;
}

.convertor-input {
    box-sizing: border-box;
    position: relative;
    color: rgb(0, 34, 114);
    font-size: 3rem;
    /* margin-right: 50px; */
    height: 60px;
    padding-left: 20px;
    width: 100%;
    background: whitesmoke;
    border-width: 0px;
    border-radius: 10px;
}

.convertor-select {
    box-sizing: border-box;
    margin-left: 15px;
    border-radius: 5px;
    position: relative;
    margin-top: 14px;
    height: 60px;
    width: 30%;
    color: rgb(0, 34, 114);
    background: whitesmoke;
    border-width: 0px;
    border-radius: 10px;
    color: rgb(0, 34, 114);
    font-size: 1rem;
}

.convertor-label {
    font-size: 20px;
    color: #e0dbdbbf;
    width: 50%;
}

.convertor-row {
    align-items: flex-end;
    display: flex;
    align-content: center;
    padding-top: 30px;
    justify-content: center;
    font-size: 20px;
}

.favorite-table {
    grid-area: table;
}

.change-image {
    width: 35px;
    height: 30px;
    position: relative;
    margin-top: 25px;
    margin-left: 30%;
    grid-area: rowa;
    padding-bottom: 45px;
    padding-top: 65px;
    margin-bottom: 80px;
}

.item1 {
    grid-area: rowa;
}

.item2 {
    grid-area: rowb;
    margin-top: 15px;
}

.convertor-header {
    padding-left: 20px;
    grid-area: headerc1;
}

#currencyConvertTo {
    font-size: 35px;
    color: lightgray;
    padding-left: 5px;
}