{block header}
    <h3 class="kt-subheader__title">{$title}</h3>
    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
    <span class="kt-subheader__desc">Seznam webů</span>
    <button role="button" id="add_new_web" data-toggle="modal" data-target="#web_modal_new" class="btn btn-label-warning btn-bold btn-sm btn-icon-h kt-margin-l-10">
        Přidat web
    </button>
    <button role="button" id="order_desc" class="btn btn-label-primary btn-bold btn-sm btn-icon-h kt-margin-l-10">
        Řadit vzestupně
    </button>
    <button role="button" id="order_asc" class="btn btn-label-primary btn-bold btn-sm btn-icon-h kt-margin-l-10">
        Řadit sestupně
    </button>
    <div class="kt-input-icon kt-input-icon--right kt-subheader__search kt-hidden">
        <input type="text" class="form-control" placeholder="Search order..." id="generalSearch">
        <span class="kt-input-icon__icon kt-input-icon__icon--right">
											<span><i class="flaticon2-search-1"></i></span>
										</span>
    </div>
{/block}
{block customFoot}
    <script src="js/lab-web-list.js" type="text/javascript"></script>
{/block}
{block modal}
    <!-- Modal -->
    <div class="modal fade" id="web_modal_new" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Přidat web</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Zavřít">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Doména webu</label>
                        <input name="domena" id="domena" type="text" class="form-control" placeholder="domena.cz">
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="add_web" data-goto="{plink Web:view}" class="btn btn-primary">Přidat</button>
                </div>
            </div>
        </div>
    </div>
{/block}
{block content}
    <!--Begin::Section-->
    <div class="row">
        <div n:foreach="$webs as $web" class="col-xl-3">

            <!--Begin::Portlet-->
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__head kt-portlet__head--noborder">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">

                    <!--begin::Widget -->
                    <div class="kt-widget kt-widget--user-profile-2">
                        <div class="kt-widget__head">
                            <div class="kt-widget__media">
                                <img class="kt-widget__img kt-hidden-" src="http://image.thum.io/get/width/300/http://{$web->domain}" alt="image">
                            </div>
                            <div class="kt-widget__info">
                                <a n:href="Web:view $web->domain" class="kt-widget__titel kt-hidden-">
                                    {$web->domain}
                                </a>
                                <a href="#" class="kt-widget__username kt-hidden">
                                    Luca Doncic
                                </a>
                                <span class="kt-widget__desc">
															Head of Development
														</span>
                            </div>
                        </div>
                        <div class="kt-widget__body">
                            <div class="kt-widget__section">
                                {$web->description}
                            </div>
                            <div class="kt-widget__item">
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">Celkové skóre:</span>
                                    <a href="#" class="kt-widget__data">50%</a>
                                </div>
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">Přidal:</span>
                                    <span class="kt-widget__data">Robert Mikšík</span>
                                </div>
                            </div>
                        </div>
                        <div class="kt-widget__footer">
                            <a n:href="Web:view $web->domain" class="btn btn-label-brand btn-lg btn-upper">Zobrazit web</a>
                        </div>
                    </div>

                    <!--end::Widget -->
                </div>
            </div>

            <!--End::Portlet-->
        </div>
    </div>
    <!--End::Section-->
{/block}