* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#game-field {
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    margin: auto;
}

.card {
    width: 20%;
    padding: 50px 0px;
    background-color: rgb(235, 164, 72);
    color: transparent;
    border: 10px solid white;
    user-select: none;
}

.card:hover {
    cursor: pointer;
    background-color: rgb(212, 135, 34);
}

.card.revealed {
    background-color: darkblue;
    color: white;
}